@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

* {
	margin: 0;
	padding: 0;
}

body,
html {
	overflow: hidden;
}

.container {
	margin: auto auto;
	width: 970px;
	height: 1080px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: '#152236';
	z-index: 100;
	padding-top: 50px;
	padding-bottom: 50px;
	text-transform: capitalize;
	/* border-right: 10px solid black; */
}
.container h1 {
	font-family: 'Poppins';
	font-size: 70px;
	text-align: center;
	text-transform: capitalize;
}
.name {
	/* background-color: lightblue; */
	width: 100%;
	color: rgb(0, 0, 0);
	/* border-top: 10px solid black; */
	/* border-right: 15px solid black; */
}
.Value {
	background-color: yellow;
	border-radius: 24px;
	padding: 0 50px;
	color: rgb(255, 255, 255);
	/* border: 10px solid rgb(0, 0, 0); */
	margin: 5px 0;
}
img {
	margin: 10px 0;
	border-radius: 24px;
	height: 700px;
	width: 970px;
	max-height: 700px;
	max-width: 870px;
	object-fit: contain;
}
