@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

* {
	margin: 0;
	padding: 0;
}

body,
html {
	overflow: hidden;
}

.container {
	margin: auto auto;
	width: 850px;
	height: 1080px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: '#152236';
	z-index: 100;
	padding-top: 50px;
	padding-bottom: 50px;
	text-transform: capitalize;
	/* border-right: 10px solid black; */
}
.container h1 {
	font-family: 'Poppins';
	font-size: 50px;
	text-align: center;
	text-transform: capitalize;
}
.name {
	/* background-color: lightblue; */
	width: 100%;
	color: rgb(255, 255, 255);
	text-shadow: 7px 7px 20px #000000;
	/* border-top: 10px solid black; */
	/* border-right: 15px solid black; */
}
.Value {
	background-color: yellow;
	border-radius: 24px;
	padding: 0 50px;
	color: black;
	border: 10px solid yellow;
	margin: 5px 0;
}
img {
	border: 10px solid red;
	margin: 20px 0;
	border-radius: 24px;
	height: 700px;
	width: 500px;
	max-height: 700px;
	max-width: 500px;
	object-fit: cover;
	background: white;
	box-shadow: 7px 11px 39px 0px black;
}
